/* import a Font From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300;400;700&display=swap');
/* Remove all Padding and Margin and set Boxsizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/* Set Font and Display Flex to Body */
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #16161a;
    color: #fffffe;
}

#content{
    float: left;
    width: 75%;
}
/* Header */
header.navbar-container{
    padding: 0 2rem;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    z-index: 999;
}
/* Header Logos */
header.navbar-container .logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color:#fffffe;
    transition: all .5s ease-in-out;
}
header.navbar-container .logo a:hover{
    font-size: 1.5rem;
    color:#7f5af0;
}
/* Header Nav */
header.navbar-container .nav-link ul{
    display: flex;
    justify-content: center;
    gap: 2rem 1.2rem;
}
header.navbar-container .nav-link li a{
    font-size: 1.02rem;
    font-weight: 400;
    color:#fffffe;
    transition: all.5s ease-in-out;
}
header.navbar-container .nav-link li a:hover{
    font-size: 1.02rem;
    font-weight: 400;
    color:#7f5af0;
    transition: all.5s ease-in-out;
    border-bottom: 1px solid #fff;
}
.hamburger{
    display: none;
}
/* Main Content */
main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex:1;
}
main .content{
    flex:1;
    display: flex;
    align-items: center;
}
main section{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
main section#home{
    margin-top: 5rem;
}
main section#about{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
main .content .copywrite {
    flex: 1 1;
}
main .content .copywrite .title{
    font-size: 5rem;
}
main .content .copywrite h2{
    font-size: 1.5rem;
    font-weight: 400;
    color: #94a1b2;
}
main .content .copywrite .lead {
    line-height: 1.5rem;
    font-size: 1.4rem;
    font-weight: 300;
}
main .content .copywrite span {
    line-height: 1.7rem;
    font-size: 1.2rem;
    font-weight: 700;
}
main .content .copywrite p {
    line-height: 1.7rem;
    font-size: 1rem;
    margin-block: 1rem;
    color: #94a1b2;
}
main .content .copywrite button{
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    background-color: #7f5af0;
    color: #fffffe;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}
main .content .copywrite button:hover{
    border: 2px solid #7f5af0;
    background-color: transparent;
}
main .content .content-img{
    display: flex;
    flex: 1;
    justify-content: end;
}
main .content .content-img img{
    min-width: 250px;
    width: 350px;
}
/* About Section */
main section#about .content{
    justify-content: space-around;
}
main .content .about{
    max-width: 500px;
    padding-right: 5rem;
}

main section#about .content .about .card,main section#about .content .reach-me .card{
    background-color: #242629;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0.7rem 1rem rgba(0, 0, 0, 0.3);
    transition: all .4s ease-in-out;
}
main section#about .content .about .card:hover,main section#about .content .reach-me .card:hover{
    background-color: #242629;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 1.2rem 1.5rem rgba(0, 0, 0, 0.3);
}

main .content .about h4{
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.3rem;
}
main .content .about h2{
    font-size: 2rem;
    margin-block: 1rem;
}
main .content .about p{
    font-weight: 300;
    line-height: 1.7rem;
    color: #94a1b2;
    text-align: justify;
}
main .content .reach-me{
    max-width: 500px;
    padding-left: 5rem;
}
main .content .reach-me h3{
    font-size: 2rem;
    margin-block: 1rem;
    padding-top: 2rem;
}
main .content .reach-me p{
    font-weight: 300;
    line-height: 1.7rem;
    color: #94a1b2;
    text-align: justify;
}
/* Contact Session */
main section#contact .content{
    justify-content: center;
    text-align: center;
}
main section#contact .content h2.title{
    font-size: 3rem;
    text-transform: uppercase;
}
main section#contact .content p{
    font-size: 1rem;
    color: #94a1b2;
    margin-block: 1rem;
    text-transform: uppercase;
}
/* Form */
main section#contact .content .contact form{
    display: flex;
    width: 100%;
    flex-direction: column;
}
main section#contact .content .contact .group{
    margin: 10px 0;
}
main section#contact .content .contact .group input{
    padding: 10px;
    width: 355px;
    background: transparent;
    border: 2px solid white;
    color: #fffffe;
    border-radius: 5px;
}
main section#contact .content .contact .group input:focus,main section#contact .content .contact .group textarea{
    outline: none;
}
main section#contact .content .contact .group textarea{
    padding: 10px;
    width: 355px;
    background: transparent;
    border: 2px solid white;
    color: #fffffe;
    border-radius: 5px;
}

main section#contact .content button{
    padding: 10px 15px;
    background: #7f5af0;
    border: 2px solid #7f5af0;
    color: #fffffe;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
main section#contact .content button:hover{
    background: transparent;
    border: 2px solid #7f5af0;
}
/* Aside Social Media */
main aside#social-link{
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
}
main aside#social-link .social {
    height: 100%;
    display: flex;
}
main aside#social-link .social ul {
    transition: all 0.2s ease-in-out;
    padding: 1rem 1rem;
    margin: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #7f5af0;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
main aside#social-link .social li a{
    transition: all 0.2s ease-in-out;
    font-size: 2.1rem;
    color: #fffffe;
    transition: all 0.2s ease-in;
}
main aside#social-link .social li a:hover{
    color: #94a1b2;
}
/* Aside Right */
main aside#data-diri {
    float: right;
    flex: 1;
    width: 25%;
}
main aside#data-diri article.card{
    margin-top: 5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #242629;
    padding: 1rem 2.5rem;
    box-shadow: 1rem 1.2rem rgba(0,0,0,0.3);
}
main aside#data-diri article.card.card-profile img{
    width: 200px;
    padding-bottom: 1rem;
}
main aside#data-diri article.card.card-profile h2{
    text-align: center;
}
main aside#data-diri article.card.card-profile p{
    font-size: medium;
    line-height: 1.2rem;
    text-align: justify;
    color: #fffffe
}
footer{
    font-size: medium;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #242629;
}
/* Reponsive */

@media screen and (max-width: 425px){
    /* Hamburger */
    .hamburger{
        display: block;
        cursor: pointer;        
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background-color: #fffffe;
        margin: 6px 0px;
        transition: all 0.2s ease-in;
    }
    .hamburger.active .line:nth-child(1) {
        transform-origin: left;
        transform: rotate(-45deg);
        transition: all 0.2s ease-in;
    }
    .hamburger.active .line:nth-child(2) {
        height: 0;
        transition: all 0.2s ease-in;
    }
    .hamburger.active .line:nth-child(3) {
        transform-origin: right;
        transform: rotate(-45deg);
        transition: all 0.2s ease-in;
    }
    header.navbar-container .nav-link.active{
        height: 100%;

    }
    header.navbar-container .nav-link{
        height: 0;
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        width: 100%;
        background: #242629;
        transition: 0.2s;
        overflow: hidden;
    }
    header.navbar-container .nav-link.active ul{
        opacity: 1;
    }
    header.navbar-container .nav-link ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    header.navbar-container .nav-link ul li{
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 768px){
    /* Footer Responsive */
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: small;
        text-align: center;
    }
    /* Header Responsive */
    header.navbar-container .nav-link ul{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    header.navbar-container.nav-link li a:hover{
        border-bottom: 1px solid #fff;
    }
    /* Hero Section */
    main{
        display: flex;
        align-items: center;
        padding: 1rem 3rem;
        flex-flow: column nowrap;
    }
    main .content {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
    main section{
        flex-direction: column;
    }
    main section#home{
        margin-top: 0;
    }
    main .content .content-img{
        order: -1;
        margin-bottom: 2rem;
        max-width: 250px;
    }
    main .content .copywrite .lead {
        font-size: 1rem;
        font-weight: 300;
    }
    main .content .copywrite .title{
        font-size: 3rem;
        margin-block: 1rem;
    }
    main .content .copywrite h2{
        font-size: 1rem;
    }
    main .content .copywrite span {
        font-size: 1rem;
        font-weight: 700;
    }
    main .content .copywrite p {
        font-size: 0.8rem;
        margin-block: 1rem;
    }
    /* Responsive About Section */
    main section#about .content .about{
        padding:0;
        text-align: center;
    }
    main section#about .content .reach-me{
        padding:0;
        text-align: center;
    }
    main section#about .content .reach-me h3{
        padding :0;
    }
    main section#about .content .reach-me p,main section#about .content .about p{
        text-align: center;
    }
    /* Contact Section */
    main section#contact .content h2.title{
        font-size: 2rem;
        text-transform: uppercase;
    }
    main section#contact .content p{
        font-size: 0.8rem;
    }
    main section#contact .content .contact .group input{
        width: 255px;
    }
    main section#contact .content .contact .group textarea{
        width: 255px;
    }
    /* Responsive Social Media Aside */
    main aside#social-link .social ul {
        transition: all 0.2s ease-in-out;
        padding: 0.5rem;
    }
    main aside#social-link .social li a{
        transition: all 0.2s ease-in-out;
        font-size: 1.3rem;
    }
    main aside#data-diri{
        display: flex;
        align-self: center;
        width: auto;
    }
    main aside#data-diri article.card.card-profile{
        margin-top: 0;
        margin-bottom: 3rem;
    }
    main aside#data-diri article.card.card-profile header{
        display: flex;
        flex-direction: column;
    }
    main aside#data-diri article.card.card-profile figure{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}